#datatable_users tbody td:last-of-type {
    text-align: center;
}

#datatable_users tbody td a.btn.default:not(:last-child){
    margin-bottom: 5px;
}

#datatable_users tbody td {
    vertical-align: middle;
    text-align: center;
}

.modal-body.view {
    padding-bottom: 7px;
}

.modal-body.view .form .form-row-seperated .form-group {
    padding-top: 7px;
    padding-bottom: 7px;
}

.modal-body.view div.portlet {
    margin-bottom: 0;
}

.modal-footer a,
.modal-footer a:hover {
    text-decoration: none;
    color: inherit;
}