.relative {
    position: relative;
}

.relative .popover {
    left: 0 !important;
}

td a.btn.default:not(:last-child){
    margin-bottom: 5px;
}

td {
    vertical-align: middle !important;
}

.loading-delete,
.loading-delete:hover,
.loading-save,
.loading-save:hover {
    text-decoration: none;
    color: inherit;
}

#errors {
    color: #a94442;
}

#errors div {
    margin-bottom: 5px;
}

#errors div:last-of-type {
    margin-bottom: 20px;
}

.thumbnail {
    margin-bottom: 0;
    box-sizing: content-box;
}

.thumbnail > img {
    max-height: 100%;
}

.ms-container {
    width: 85% !important;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.count_entity {
    height: 24px!important;
    text-align: center;
    padding: 2px 5px !important;
}

#count_entities {
    margin-left: 3%;
    width: 12%;
    float: right;
}

#count_entities > div {
    height: 25px !important;
    vertical-align: middle;
    position: relative;
}

#count_entities .btn i {
    position: relative;
    top: -2px;
    left: 1px;
}

#count_entities .btn.bootstrap-touchspin-up,
#count_entities .btn.bootstrap-touchspin-down {
    height: 24px;
    padding: 3px 7px;
}
