.not-active {
    pointer-events: none;
    cursor: default;
}

button.lading {
    width: 100%;
    background: #26a69a !important;
}

button.lading:hover {
    opacity: .7;
}


#header_balance_show,
#header_balance_hide{
    margin-right: 8px;
    color: #AAA;
    font-weight: bold;
}

#header_balance_show{
    margin-top: -4px;
    margin-bottom: 4px;
}